.elementor-2025 .elementor-element.elementor-element-c1c9f13{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--padding-top:40px;--padding-bottom:60px;--padding-left:0px;--padding-right:0px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-2025 .elementor-element.elementor-element-18a588b{text-align:center;}.elementor-2025 .elementor-element.elementor-element-18a588b .elementor-heading-title{font-family:"DMSans", Sans-serif;font-weight:600;line-height:1em;}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-2025 .elementor-element.elementor-element-6b15db1{font-family:"Montserrat", Sans-serif;font-weight:500;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-2025 .elementor-element.elementor-element-7b56de3 .elementor-button{background-color:var( --e-global-color-primary );font-family:"Roboto", Sans-serif;font-weight:600;text-transform:capitalize;fill:var( --e-global-color-3807307 );color:var( --e-global-color-3807307 );}.elementor-2025 .elementor-element.elementor-element-7b56de3 .elementor-button:hover, .elementor-2025 .elementor-element.elementor-element-7b56de3 .elementor-button:focus{background-color:var( --e-global-color-68cc7da );color:var( --e-global-color-accent );}.elementor-2025 .elementor-element.elementor-element-7b56de3 .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-2025 .elementor-element.elementor-element-7b56de3 .elementor-button .elementor-button-content-wrapper{gap:10px;}.elementor-2025 .elementor-element.elementor-element-7b56de3 .elementor-button:hover svg, .elementor-2025 .elementor-element.elementor-element-7b56de3 .elementor-button:focus svg{fill:var( --e-global-color-accent );}@media(max-width:1366px){.elementor-2025 .elementor-element.elementor-element-c1c9f13{--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );}.elementor-2025 .elementor-element.elementor-element-c1c9f13.e-con{--align-self:center;}.elementor-2025 .elementor-element.elementor-element-18a588b{width:100%;max-width:100%;text-align:center;}}@media(max-width:767px){.elementor-2025 .elementor-element.elementor-element-c1c9f13{--padding-top:40px;--padding-bottom:60px;--padding-left:20px;--padding-right:20px;}.elementor-2025 .elementor-element.elementor-element-18a588b{text-align:center;}.elementor-2025 .elementor-element.elementor-element-6b15db1{text-align:center;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/DMSans-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/DMSans-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/DMSans-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/DMSans-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/DMSans-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/DMSans-ExtraBold.woff2') format('woff2');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/Montserrat-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/Montserrat-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/Montserrat-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/Montserrat-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/Montserrat-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost/diormedical/wp-content/uploads/2026/08/Montserrat-ExtraBold.woff2') format('woff2');
}
/* End Custom Fonts CSS */